# Data Science Tool and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

### some of the popular languages that Data Scientist use are:
1. Python
2. R
3. Julia

**Objectives**
#### after completing this course, you will be familiar with data science languages like below: 
- Python
- R
- Julia

### some of the common used libraries used by Data Scientists are:
1. Pandas
2. NumPy
3. SciPy

|Data Science Tools|
|------------------|
|Jupyter|
|Rstudio|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expression in Python
- 1+1
- 2+1
- 3+1

In [2]:
# This a simple arithmetic expression to multiply then add integer
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Alaa Anwar